:root {
    /* Colors */
    --primary: #811F5D;
    --grey: #8C8C8D;
    --black: #1A1A1A;
    --black-light: rgb(26, 26, 26, 0.6);
    --dark: #202020;
    --dark-gray: #1B1B1B;
    --gray-light: #3D3D3D;
    --gray-extra-light: #4B4B4B;
    --white: #FFFFFF;

    /* Shadow */
    --primary-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    /* Font Sizes: 38px,24px,22px,20px,18px,16px,14px,12px */

}

/* Default Scrollbar */

::-webkit-scrollbar {
    width: 0.4em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: rgba(175, 175, 175, 0.6);
}


body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white);
    height: 175vh;
    overflow: overlay;
}

.header-box {
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--primary);
    width: 100%;
    position: fixed;
}

.profile {
    display: flex;
    align-items: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-radius: 8px;
    height: 33px;
    width: 70%;
    padding: 10px;
}

.search-box input {
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: text;
    margin-left: 22px;
    margin-right: 22px;
    height: 31px;
    width: 90%;
}

/* Header */

header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    height: 48px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

/* Sidebar */

.sidebar {
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--dark);
    font-weight: 600;
    line-height: 16px;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 25px;
}

.logo a {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}

.sidebar>ul {
    padding: 10px;
    margin-top: 20px;
}

.sidebar>ul>li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.sidebar>ul>li>a {
    display: flex;
    line-height: 15px;
    align-items: center;
    gap: 20px;
}

.sidebar>ul>li:last-child {
    margin-top: 300px;
}

.sidebar>ul>li>a>i>img {
    width: 20px;
}

/* Context */

.container {
    position: relative;
    top: 45px;
    z-index: 0;
    flex-direction: column;

    background-color: red;
    height: 180vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: var(--dark);
}

.story-container {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    z-index: 2;
    right: 0px;
    background-color: #4B4B4B;
    height: 400px;
}

.story-container>ul {
    z-index: 1;
    position: absolute;
    max-width: 1800px;
    margin-top: 45px;
    margin-left: 350px;
    width: 1550px;
    overflow-y: auto;
    padding: 5px;
    white-space: nowrap;
    display: flex;
    gap: 7px;
    margin-right: 15px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    scroll-snap-type: x mandatory;
}

.story-container>ul>li>a>img {
    scroll-snap-align: start;
}

/* Scrollbar Style */

.story-container>ul::-webkit-scrollbar {
    width: 1em;
    height: 12px;
}

.story-container>ul::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.3);
    border-radius: 10px;
}

.story-container>ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: var(--white);
}

/* Story Container */

.story-container>ul>li {
    width: 130px;
    min-width: 130px;
    height: 200px;
}

.wave {
    z-index: 0;
    bottom: 0;
    position: absolute;

    width: 100%;
    height: 200px;
    background: url(/assets/svg\ \(1\).png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.cards-container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    right: 0;
    background-color: #FFFFFF;
    height: 1000px;
}

.cards-container>ul {
    display: grid;
    grid-auto-rows: 375px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 1em;
    z-index: 1;
    position: relative;
    max-width: 800px;
    min-width: 130px;
    margin-left: 350px;
    width: 1550px;
    padding: 5px;
    gap: 7px;
    box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.1);
}

.cards-container>ul>li {
    display: flex;
    justify-content: center;
    align-items: center;
}