:root {
    /* Colors */
    --primary: #811f5d;
    --grey: #8C8C8D;
    --black: #1A1A1A;
    --black-light: rgb(26, 26, 26, 0.6);
    --dark: #202020;
    --dark-gray: #1B1B1B;
    --gray-light: #3D3D3D;
    --gray-extra-light: #4B4B4B;
    --white: #FFFFFF;

    /* Shadow */
    --primary-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.25);

    /* Font Sizes: 38px,24px,22px,20px,18px,16px,14px,12px */

}

/* Default Scrollbar */

::-webkit-scrollbar {
    width: 0.4em;
    height: 0.4em;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(26, 26, 26, 0.3);
}

::-webkit-scrollbar-thumb {
    border-radius: 30px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
    background-color: rgba(175, 175, 175, 0.6);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: var(--white);
    width: 100%;
    height: 100%;
    overflow: overlay;
    background-color: #FFFFFF;
}

/* Header */

.header-box {
    z-index: 2;
    top: 0;
    left: 0;
    display: flex;
    position: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 0px;
    height: 50px;
    gap: 20px;
    background-color: var(--primary);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
}

header {
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    height: 50px;
    gap: 20px;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    width: 200px;
    max-width: 275px;
}

.profile img {
    width: 100%;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    width: 75%;
    margin-left: 325px;
    border-radius: 8px;
    filter: drop-shadow(0px 0px 8px rgba(0, 0, 0, 0.25));
}

.search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

/* Detailed Search */

.search-detailed {
    display: none;
}

.search-detailed:hover {
    display: flex;
    visibility: visible;
}

.search-box:focus-within+.search-detailed {
    display: flex;
    visibility: visible;
}

.search-detailed {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    top: 50px;
    width: 60vw;
    max-width: 1200px;
    height: auto;
    max-height: 60vw;
    margin-left: 325px;

    background: #202020;
    border: 1px solid rgba(32, 32, 32, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.search-detailed-inclusive {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-detailed-inclusive div:first-child {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.bold-title {
    font-weight: 700;
    font-size: 20px;
    white-space: nowrap;
}

.tiny-title {
    all: unset;
    font-weight: 400;
    font-size: 16px;
    opacity: .6;
    color: #FFFFFF;
}
.tiny-size{
    font-size: 12px;
}

.last-searchs {
    display: flex;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    padding: 0 12px;
    overflow-y: auto;
    max-height: 10vw;
}

.last-searchs ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 8px;
}

.last-searchs ul>li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.last-searchs ul>li span {
    display: flex;
}

.popular-events {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.event-hashtags ul {
    width: 100%;
    display: grid;
    grid-template-rows: auto auto;
    position: relative;
    grid-auto-flow: column;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 5px;
    column-gap: 10px;
    height: 100px;
}

.event-hashtags li {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 7px;
    padding: 8px;
    max-height: fit-content;
}

.event-hashtags li span::before {
    content: "#";
}

.popular-celebrities {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.popular-celebrities ul {
    width: 100%;
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    position: relative;
    grid-template-rows: auto auto;
    overflow-y: hidden;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100px;
    column-gap: 10px;
}

.popular-celebrities li {
    display: flex;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    padding: 10px;
    width: fit-content;
    gap: 5px;
}

.popular-celebrities li>span {
    display: flex;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

.popular-celebrities li>img {
    width: 100%;
    min-width: 28px;
    height: auto;
}

/* Search Results */

.search-results {
    display: none;   /* All results >> display:flex;;*/
}

.search-results {
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    padding: 12px;
    top: 50px;
    width: 60vw;
    max-width: 1200px;
    height: auto;
    max-height: 20vw;
    margin-left: 325px;

    background: #202020;
    border: 1px solid rgba(32, 32, 32, 0.6);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    font-weight: 900;
    font-size: 16px;
    color: #FFFFFF;
}

.search-results-inclusive {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.search-results-inclusive div:first-child {
    position: relative;
    display: flex;
    justify-content: space-between;
    top: 0;
    margin-top: 5px;
    margin-bottom: 15px;
}

.all-results ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}
.all-results img {
    width: 27px;
}

.all-results li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.all-results li div:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.more-button {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    height: max-content;
    margin-bottom: 15px;
    bottom: 0;
    white-space: nowrap;
    left: 50%;
    gap: 5px;
}

.more-button img {
    width: 100%;
    padding-top: 6px;
    width: 16px;
}

.search-box input {
    text-decoration: none;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    cursor: text;
    margin-left: 20px;
    margin-right: 20px;
    width: 93%;
    height: 35px;
}

.notification {
    width: 100%;
    margin-left: 5px;
    max-width: 20px;
}

.search-box img {
    cursor: pointer;
    margin-right: 15px;
    /* !-Input içine alınacak */
}

.header-box>span {
    display: none;
}

/* Sidebar */

.sidebar {
    z-index: 5;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    color: var(--dark);
    font-weight: 600;
    line-height: 16px;
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    padding: 25px;
}

.sidebar-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.logo a {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: var(--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
}

.sidebar-menu>ul {
    padding: 10px;
    margin-top: 20px;
}

.sidebar ul>span {
    display: none;
}

.sidebar-menu>ul>li {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 40px;
}

.sidebar-menu>ul>li>a {
    display: flex;
    line-height: 15px;
    align-items: center;
    gap: 20px;
}

.sidebar-menu>ul>li:last-child {
    margin-top: 300px;
}

.sidebar-menu>ul>li>a>i>img {
    width: 20px;
}

/* Context */

.main-container {
    position: relative;
    top: 0;
    z-index: 0;
    flex-direction: column;
    height: 1050vh;
    width: calc(100% - 300px);
    left: 300px;
    display: flex;
    justify-content: flex-start;
    color: var(--dark);
}

.main-container img {
    pointer-events: none;
}

/* Story Container */

.story-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 200%;
    height: 475px;
    min-height: 450px;
}

.story-cards {
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 45px;
    width: 100%;
    z-index: 2;
    right: 0px;
    height: 280px;
}

.story-cards>ul {
    z-index: 1;
    position: relative;
    max-width: 1800px;
    width: 1600px;
    margin-top: 45px;
    overflow: auto;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    padding: 10px 5px;
    display: flex;
    gap: 7px;
    margin-right: 15px;

    border-radius: 6px;
}

.story-cards>ul>li>a>img {
    scroll-snap-align: start;
}

.story-cards>ul>li {
    width: 130px;
    min-width: 130px;
    height: 200px;
}

.wave {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    background: url(/assets/svg\ \(1\).png);
    background-position: 0px;
    background-repeat: no-repeat;
    background-size: 100% 150%;
}

.wave img {
    display: flex;
    position: absolute;
    right: 50%;
    cursor: pointer;
    width: 25px;
    margin-top: 75px;
}

/* Postcard Container */

.postcard-container {
    display: flex;
    position: relative;
    justify-content: center;
    background-color: #FFFFFF;
    align-items: flex-start;
    height: auto;
    min-width:fit-content;
}

.postcards {
    display: flex;
    position: relative;
    overflow: hidden;
    justify-content: space-evenly;
    row-gap: 50px;
    padding-bottom: 50px;
}

/* Cards Section */
.postcard-inclusive {
    display: flex;
    position: relative;
    width: calc(250px + 60px);
    height: calc(375px + 20px);
}

.postcard {
    display: flex;
    position: relative;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    min-width: 310px;
    font-weight: 700;
    font-size: 16px;
}

.postcard a {
    display: flex;
    position: relative;
    align-items: center;
}

.postcard-header {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 5;
    width: 250px;
    height: 375px;
}

.postcard-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    width: 250px;
    height: 375px;
    margin-left: 60px;
    margin-top: 20px;
}

.postcard-item {
    z-index: 4;
    margin-right: 12px;
    display: flex;
    margin-left: auto;
    align-items: center;
    flex-direction: column;
    width: 40px;
    height: 85px;
    border-radius: 4px;
    gap: 7px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
}

.postcard-header>img {
    width: 100%;
    height: 100%;
}

.postcard-body>img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.postcard-body>span {
    position: absolute;
    z-index: 3;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%), rgb(128, 30, 92, 0.55);
    height: 100%;
    width: 100%;
    border-radius: 15px;
}

.postcard-header>span {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    white-space: pre-wrap;
    max-width: 200px;
    line-height: 1.2rem;
    max-height: 2.4rem;
    bottom: 45px;
    left: 18px;
    color: #FFFFFF;
}

.postcard-header>span:last-child {
    all: unset;
    display: flex;
    width: 36px;
    height: 36px;
    right: 15px;
    bottom: 15px;
    z-index: 0;
    position: absolute;
}

.postcard-item>img {
    width: 100%;
    min-width: 40px;
}

/* Celebrities Section */

.container-wave:first-child {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(180deg);
    background-image: url(/assets/svg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: calc(0px);
    background-size: 100% 100%;

    z-index: 0;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;

}

.container-wave:last-child {
    display: flex;
    position: absolute;
    bottom: 0;
    background-image: url(/assets/svg\ \(1\).png);
    background-repeat: no-repeat;
    background-position: calc(0px);
    background-size: 100% 100%;

    z-index: 0;
    width: 100%;
    height: 300px;
    align-items: center;
    justify-content: center;

}

.celebrities-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 800px;
    min-height: 800px;
    overflow-x: hidden;
    justify-content: center;

    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.celebrities {
    z-index: 3;
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    position: relative;
    grid-auto-flow: column;
    overflow-y: hidden;
    max-width: 1800px;
    width: 1600px;
    justify-content: flex-start;
    align-items: center;
    height: 400px;
    gap: 8px;
    margin-left: 45px;
}


.celebritie {
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;

    color: #FFFFFF;
    width: 410px;
    min-width: 375px;
}

.celebritie button {
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 27px;
    width: 110px;
    height: 28px;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    word-spacing: 3px;
}

.celebritie img {
    width: 42px;
}

.celebritie-info {
    display: flex;
    flex-direction: column;
    margin-right: 45px;
}

.celebritie-info span {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 15px;
}

/* Reels Section */

.reels-container {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    height: 800px;
    min-height: 800px;
    justify-content: center;

    background-image: url(/assets/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.reels-cards {
    display: flex;
    z-index: 3;
    position: relative;
    align-items: center;
    overflow: auto;
    margin-left: 45px;
    max-width: 1800px;
    width: 1600px;
    height: 350px;
    justify-content: flex-start;
    overflow-y: hidden;
}

.reels-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding-left: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
}

.reels-card-header {
    width: 165px;
    height: 245px;
}

.reels-card-header img {
    width: 100%;
    height: 100%;
}

.reels-card-body span {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}

/* >> Special Classes << */

.radio-button{
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: var(--primary);
    padding: 10px 25px;
    margin: 0;
    border: 1px solid #801E5C;
    border-radius: 4px;
    font-weight: 400;

    min-width: 20px;
    max-width: 120px;
    height: 30px;

    transition: all 0.1s linear;
    cursor: pointer;
}
.radio-button-group input:checked + label{
    background-color: var(--primary);
    color: #FFFFFF;
    font-weight: 700;
}

.wide-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    min-width: 250px;
    max-width: 350px;
    background: rgba(128, 30, 92, 0.2);
    border: 1px solid #801E5C;
    color: #801E5C;
    font-weight: 700;
    font-size: 16px;
}

/* >> All-Settings Menu << */

.settings-menu{
    display: flex;
    justify-content: center;
    color: var(--black);
    font-size: 1rem;
}

.modal-content{
    width: 28vw;
    min-width: 275px;
    max-width: 20vw;

    max-height: 28vw;
    min-height: 375px;
    border-radius: 20px;
}
.modal-header{
    border-bottom: 0;
    padding-bottom: 10px;
}

.modal-header span.bold-title{
    display: flex;
    gap: 3px;
    color: var(--primary);
}

.modal-body{
    height: 300px;
    padding-top: 8px;
}
.modal-body ul{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.modal-body li{
    margin-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 44px;
    column-gap: 15px;
    font-weight: 700;
}
.modal-body > ul > li:nth-child(-n+6)::after{
    content: "";
    display: flex;
    vertical-align:middle;
    position: absolute;
    width: 65%;
    margin-top: 45px; 
    margin-left: 40px;
    border-bottom: 0.5px solid rgba(129, 31, 93, 0.3);
}

/* >> Dark Mode Menu << */

.darkmode-setting .modal-content{
    max-height: unset;
    min-height: unset;
    height: 160px;
    border-radius: 20px;
}
.darkmode-setting .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.darkmode-setting .modal-body div:first-child{
    display: flex;
    width: 250px;
    justify-content: center;
    gap: 5px;
}
.darkmode-setting .modal-body div:last-child{
    display: flex;
}

/* >> Profile Settings Menu << */
                                                                /* Overridde ifadeler yalnızca olacak */
.profile-settings .modal-content{
    max-height: unset;
    min-height: unset;
    width: 400px;
    min-width:max-content;
    height: 300px;
    border-radius: 20px;
}

.profile-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}
.profile-settings .profile-inputs{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 5px;
}
.profile-settings .profile-inputs div{ 
    display: flex;
    width: 100%;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
}
.profile-inputs .radio-button {
    min-width: 25px;
    padding: 10px 30px;
    max-width: 45px;
    margin-left: 5px;
}
.profile-inputs span{
    white-space: nowrap;
    margin-right: 7px;
}
.profile-inputs input{
    border: 0;
    outline: 0;                                                                                                  /* asdasssssssssss*/
}
.profile-inputs input::placeholder{
    text-align: end;
}

.profile-settings .modal-body div:last-child{
    display: flex;
}

/* >> Language Settings Menu << */

.language-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

    height: 150px;
}
.language-settings .wide-button{
    width: 250px;
}

.language-settings .modal-body div:first-child{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.language-settings label{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    width: 250px;
    gap: 7px;
    border-bottom: 0.5px solid rgba(129, 31, 93, 0.3);
}
.language-settings label:last-child{
    border: 0;
}
.language-settings input:checked + label{
    font-weight: 700;
    font-size: 1rem;
}
.language-settings label > span{
    visibility: hidden;
}
.language-settings input:checked + label > span{
    visibility: visible;
}

/* >> Notification Settings Menu << */

.notification-settings .modal-content{
    max-height: unset;
    min-height: unset;
    width: 400px;
    min-width:max-content;
    border-radius: 20px;
    font-weight: 700;
}

.notification-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 200px;
    padding: 20px;
}
.notification-settings .notification-inputs{
    gap: 20px;
    padding-left: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.notification-settings .notification-inputs div{ 
    display: flex;
    width: 100%;
    justify-content: space-between;
}

/* >> Password Settings Menu << */

.password-settings .modal-content{
    max-height: unset;
    min-height: unset;
    width: 400px;
    min-width:max-content;
    border-radius: 20px;
    font-weight: 700;
}

.password-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    height: 200px;
}
.password-settings .password-inputs{
    gap: 20px;
    padding-left: unset;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}
.password-settings .password-inputs div{ 
    display: flex;
    width: 100%;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
}
.password-settings .password-inputs input{ 
    border: 0;
    outline: 0;
    border-bottom: 1px solid #D9D9D9;
}

/* >> Legal Informations Menu << */

.legalinfo-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 300px;
    padding: 20px;
    padding-top: 0;
}

.legalinfo-settings .modal-body div:first-child{
    width: fit-content;
    text-align: start;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}
/* >> About Site Menu << */

.aboutsite-settings .modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: auto;
    min-height: 300px;
    padding: 20px;
    padding-top: 0;
}

.aboutsite-settings .modal-body div:first-child{
    width: fit-content;
    text-align: start;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 20px;
}

/* Mobile Responsive */

@media(max-width: 1349px) {

    /* Yandan açılır menü */
    .sidebar {
        visibility: hidden;
    }

    .search-box {
        margin-left: 10px;
    }

    .main-container {
        left: 0px;
        width: 100%;
    }
}

@media(max-width: 1199px) {
    html,body{
        font-size: 0.85rem;
    }
    .sidebar {
        top: unset;
        box-shadow: unset;
        background-color: unset;
        visibility: visible;
        position: fixed;
        bottom: 3rem;
        width: 100%;
        height: 4rem;

        display: grid;
        justify-content: center;
        align-items: center;
    }

    .sidebar-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border-radius: 11px;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.75);
        min-width: 275px;
        width: 75vw;
        height: 4rem;
    }

    .sidebar ul {
        margin-top: unset;
        visibility: hidden;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        row-gap: 125px;
        width: 500px;
    }

    .sidebar ul li {
        margin: unset;
    }

    .sidebar ul li:nth-child(-n+3) {
        visibility: visible;
        width: 50px;
    }

    .sidebar ul li:not(li:nth-child(-n+3)) {
        display: none;
    }

    .sidebar span {
        display: none;
    }

    .logo {
        display: none;
    }

    .notification {
        min-width: 25px;
    }

    .profile {
        display: none;
    }

    .search-box {
        width: 90%;
    }

    .search-box input {
        height: 32px;
        min-width: 125px;
    }

    .sidebar ul>span {
        display: flex;
        visibility: visible;
    }

    .header {
        background: unset;
    }

    .header-box {
        background-color: #FFFFFF;
        gap: 8px;
    }

    .header-box>span {
        display: flex;
    }

    .header-box>span:first-of-type {
        width: 50px;
        min-width: 50px;
    }

    .header-box>span:last-of-type {
        width: 28px;
        min-width: 50px;
    }

    .header-box>span>a {
        width: 25vw;
    }
}
@media(max-width: 619px) {
    html,body{
        font-size: 0.75rem;
    }
    .postcards {
        row-gap: 20px;
        padding-bottom: 20px;
    }
    .postcard-inclusive {
        width: calc(150px + 36px);
        height: calc(225px + 12px);
    }
    .postcard {
        min-width: 186px;
        height: auto;
    }
    
    .postcard-header {
        width: 150px;
        height: 225px;
    }
    
    .postcard-body {
        row-gap: 9px;
        width: 150px;
        height: 225px;
        margin-left: 32px;
        margin-top: 16px;
    }
    
    .postcard-item {
        margin-right: 8px;
        margin-left: auto;
        width: 22px;
        height: 55px;
        gap: 5px;
        font-size: 12px;
    }
    .postcard-item>img {
        width: 100%;
        min-width: 24px;
    }
}
@media(max-width: 372px) {
    .postcards {
        row-gap: 20px;
        padding-bottom: 20px;
    }
    .postcard-inclusive {
        width: calc(125px + 24px);
        height: calc(175px + 8px);
    }
    .postcard {
        min-width: 150px;
        height: auto;
        font-size: 10px;
    }
    .postcard-header > span > img{
        width: 24px;
        right: 2px;
        bottom: 5px;
    }

    .postcard-header {
        width: 125px;
        height: 175px;
    }
    
    .postcard-body {
        row-gap: 9px;
        width: 125px;
        height: 175px;
        margin-left: 24px;
        margin-top: 8px;
    }
    
    .postcard-item {
        margin-right: 8px;
        margin-left: auto;
        width: 18px;
        height: 45px;
        gap: 5px;
        font-size: 10px;
    }
    .postcard-item>img {
        width: 100%;
        min-width: 16px;
    }
}